@use 'sass:color';

@use '@material/theme/color-palette';

// Svelte Colors! (Dark Theme)
@use '@material/theme/index' as theme with (
  $primary: #55ff00,
  $secondary: color.scale(#676778, $whiteness: -10%),
  $surface: color.adjust(color-palette.$grey-900, $blue: +4),
  $background: #000,
  $error: color-palette.$red-700
);

html,
body {
  background-color: #121212;
  color: theme.$on-surface;
}

strong {
  color: theme.$primary;
}

a {
  color: theme.$primary;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.redAgent {
  background-color: rgb(199, 45, 45);
  
}

.red {
  color: rgb(199, 45, 45);
  
}

.blue {
  color:#2767ff;
}

.blueAgent {
  background-color:#2767ff;
}


.civilian {
  background-color: #856b0d;
}

.assassin {
  background-color: rgb(29, 2, 29);
}

.found {
  background-color: #fff;
}

.agentCard {
  text-transform: uppercase;
  padding: 50px;
  text-align: center;
}

nav { 
  border-bottom: 1px solid theme.$primary;
}
